{% extends 'base.html.twig' %}

{% block title %}Recipe index{% endblock %}

{% block body %}
    <h1>Recipe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>PrepTime</th>
                <th>CookTime</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.description }}</td>
                <td>{{ recipe.prepTime }}</td>
                <td>{{ recipe.cookTime }}</td>
                <td>{{ recipe.image }}</td>
                <td>
                    <a href="{{ path('app_recipes_show', {'id': recipe.id}) }}">show</a>
                    <a href="{{ path('app_recipes_edit', {'id': recipe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recipes_new') }}">Create new</a>
{% endblock %}
